body {
   display: flex;
   margin:0;
   padding:0;
   box-sizing: border-box;
}

a {
  color: white;
}

.main-left {
  background-image: url("pictures/plant.jpg"); 
  min-height: 100vh;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  flex: 1;
  background-color: rgb(242, 242, 242);
  align-items: center;
}

.form {
  padding-left: 30px;
  position: relative;
  box-shadow: 3px 1px 3px #ccc;
  background-color: white;
}

.footer {
  flex: 1;
  background-color: rgb(242, 242, 242);
}

form {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  column-gap: 60px;
  row-gap: 15px;
}

label, input{
  display: flex;
  flex-direction: column;
}

.left-logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  height: 150px;
  object-fit: contain;
  margin-top: 200px;
}

@font-face {
  font-family: Norse-Bold;
  src: url(font/Norse-Bold.otf);
}

.left-logo > p {
  color: white;
  align-self: center;
  font-family: Norse-Bold;
  font-size: 100px;
}

.main-left span {
  color: white;
  position: absolute;
  width:100%;
  bottom:0;
  text-align:center;
}

/*
input + span {
  position: relative;
    }

input:required + span:before {
  font-size: 0.7rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: black;
  padding: 5px 10px;
  top: 1px;
}
dont forget to add span on bottom if doing again
*/