body {
   display: flex;
   margin:0;
   padding:0;
}

.main-left {
  background-image: url("pictures/plant.jpg"); 
  height: 100vh; 
  min-width: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-right {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

.header {
    flex: 1;
    background-color: rgb(242, 242, 242);
    align-items: center;
}

.form {
    position: relative;
    box-shadow: 3px 1px 3px #ccc;
    background-color: white;

}

.footer {
    flex: 1;
    background-color: rgb(242, 242, 242);
}